[submodule "extlib/mojo"]
	path = extlib/mojo
	url = http://github.com/kraih/mojo.git
[submodule "extlib/mojox-common"]
	path = extlib/mojox-common
	url = http://github.com/vti/mojox-common.git
[submodule "extlib/mojo-json-any"]
	path = extlib/mojo-json-any
	url = http://github.com/vti/mojo-json-any.git
